@model MovieViewModel

<a asp-controller="Movies" asp-action="Create">Add a new movie</a>

@if (Model.Movies.Any())
{
    @foreach (var movie in Model.Movies)
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Detail" asp-route-id="@movie.Id">@movie.Title</a>
    }
}
else
{
    <p>Er zijn geen films om weer te geven.</p>
}